body {
  background-color: azure;
  padding: 20px 30px;
}
nav {
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
  display: flex;
  height: 30px;
  background-color: rgb(214, 214, 214);
  padding: 10px 15px 10px 15px;
  border: #202020 solid 1px;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.item {
  background-color: hsl(0, 0%, 56%);
  color: white;
  border: #000 solid 1px;
  width: 100px;
  height: 30px;
}
.item-flow {
  background-color: hsl(0, 0%, 56%);
  color: white;
  border: #000 solid 1px;
  width: 100px;
  height: 30px;
  flex-shrink: 3;
}

.flex-container-2 {
  display: flex;
  padding: 10px 0px 10px 15px;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.flex-container-3 {
  display: flex;
  padding: 10px 0px 10px 0px;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.flex-container-4 {
  display: flex;
  padding: 10px 0px 10px 0px;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.flex-container-dooble {
  display: flex;
  height: 75px;
  padding: 10px 15px 10px 15px;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.block-first {
  display: flex;
  height: 60px;
  padding: 10px 0px 10px 0px;
  justify-content: end;
  align-items: center;
  gap: 10px;
}
.item-block-first {
  height: 70px;
}

.block-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.flex-centre {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.item-wight{
    width: 120px;
}